<% @page_title = "このサイトについて" %>

<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>

<p>動画・静止画管理アプリです。</p>

<h3>ご注意</h3>
<ul>
<li>【静止画一括登録】は、Node.jsの練習問題として作成</li>
<li>【動画(静止画)管理】他は、Ruby on Railsの練習問題として作成</li>
</ul>

