<% @page_title = "このサイトについて" %>

<h3 style="border-style: groove; padding: 4px;"><%= @page_title %></h3>

<p>(イベント後限定)動画静止画収集管理アプリのトップページです。</p>

<h3>使い方</h3>
<ul>
<li>【動画(静止画)管理】動画・静止画を1つ1つ属性を付けて登録・差替・属性修正・削除できます。</li>
<li>【静止画一括登録】静止画限定ですが、属性も任意でとにかくまとめて登録する場合に便利です。しかし実は別アプリで、そのままでは【動画(静止画)管理】からは見えません。</li>
<li>【sysope機能】PhotoUp専用アプリで登録した写真の取込(DB登録)にて【静止画一括登録】で登録した写真が見えるようになります。これは管理者が定期的に実行する想定です。</li>
<li>本当は、写真だけを一覧表示して容易にダウンロードする機能を作りたいのですが、マイクロサーバの余力がないのと、ダウンロードが膨大になると課金が心配なため見送っています。</li>

</ul>

<h4>【動画(静止画)管理】固有のご注意</h4>
<ul>
<li>イベントでの動画、静止画を1か所に集める為のサイトです</li>
<li>アップできるのは、拡張子jpg jpeg gif png MOV wmv mp4 zip です</li>
<li>アップした後削除するとき、動画を開いたりしてますとエラーになりますが管理レコードはしっかり消えてしまいます。継子になった動画はこちらで消しておきます。しょぼいアプリですみません。</li>
<li>全員分が集まったら、ここからダウンロードするもよし(その場合、右クリックでファイル保存と面倒ですが)</li>

</ul>